<div class="min-h-screen flex flex-col p-4">
    <div class="relative flex-1 flex flex-col items-center justify-center gap-4 p-8 rounded-2xl bg-mint text-white">
        <p class="text-base text-center font-bold" i18n>Pour tous les amateurs de bières,</p>
        <h1 class="text-5xl text-center uppercase font-bold" i18n>
            Trouvez <span class="not-highlight">chaussure</span> <span class="highlight">bière</span> à votre
            <span class="not-highlight">pied</span> <span class="highlight">gosier</span>.
        </h1>
        <p class="text-base text-center" i18n>
            Vous trouverez forcément une bière qui vous conviendra, sinon notre brasseur viendra vous casser la gueule.
        </p>
        <a class="link-button" i18n routerLink="/beers"> Toutes nos bières </a>
    </div>
</div>
